.project-page-container {
    background-color: rgba(0, 0, 0, 0.95);
    left: 0;
    top: 0;
    min-height: 100%;
    width: 100%;
    height: fit-content;
    z-index: 9;
    display: none;
    width: 100vw;
    position: fixed;
    height: 100vh;
}

.project-page-container::-webkit-scrollbar {
    width: 0;
}

.quit-project-button {
    position: fixed;
    right: 2vw;
    top: 2vw;
    display: flex;
    color: white;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(221, 141, 141, 0.8);
    border-radius: 50%;
    font-size: 37px;
    cursor: pointer;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    z-index: 11;
    font-weight: bold;
}

.quit-project-button:hover {
    border: 1px solid transparent;
    background-color: rgba(209, 95, 95,0.8);
    transition: 0.2s;
}

.actual-project-viewing {
    position: fixed;
    z-index: 13;
    width: fit-content;
    height: fit-content;
    transition: all 3.5s;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.actual-project-viewing > .content {
    width: 15vw;
    height: 15vw;
    border-radius: 5vw;
    background-color: rgba(235, 208, 208, 0.6);
}

.actual-project-viewing > .content > img {
    width: 80%;
    height: 80%;
}

.actual-project-viewing > .content:hover {
    transform : none;
}

.project-page-content {
    position: absolute;
    left: 2.5vw;
    top: 2vw;
    z-index: 11;
}

.title-page-project {
    color: rgb(232, 190, 190);
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5vw;
    z-index: 11;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.9vw;
}

.title-page-project > img {
    margin-top: 0.2vw;
    width: 3vw;
    height: 3vw;
}

.page-content {
    color: white;
    font-size: 1.8vw;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    margin-top: 1vw;
    margin-right: calc(3vw + 70px);
    margin-left: 5vw;
    margin-bottom: 1vw;
    z-index: 11;
}

.project-use-desc {
    margin-top: 3vw;
    text-align: justify;
}

.project-use-desc-value {
    margin-right: 60vw;
    padding-bottom: 1.5vw;
}

.download-or-redirect {
    color: white !important;
    font-size: 2.8vw;
    margin-left: 2.5vw;
    margin-bottom: 3vw;
    font-weight: 300;
    line-height: 1.8;
    text-decoration: underline;
    cursor: pointer;
}

.download-or-redirect:hover {
    color: rgb(234, 215, 215) !important;
    transition: 0.2s;
}

.title-project-container  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.9vw;
}

.title-project-container > p {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5vw;
    z-index: 11;
    font-size: 3.6vw;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgb(232, 190, 190);
    text-decoration-thickness: 0.2vw;
    text-decoration-style: wavy;
    text-underline-offset: 0.5vw;
}

.title-project-container > img {
    margin-top: 0.2vw;
    width: 4vw;
    height: 4vw;
    margin-bottom: 0.25vw;
}