
#semesterPage {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#semesterPage.visible {
    display: flex;
}

#semesterPage .background-semester-page {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.1s;
}

html {
    --cross-margin-semester-page: 20px;
}

#semesterPage .cross-semester-page-container {
    position: fixed;
    top: var(--cross-margin-semester-page);
    right: var(--cross-margin-semester-page);
    display: flex;
    color: white;
    width: 70px;
    height: 70px;
    z-index: 3;
    border: 1px solid rgba(221, 141, 141, 0.8);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(15vw);
    justify-content: center;
    align-items: center;
}

#semesterPage .cross-semester-page-container:hover {
    border: 1px solid transparent;
    background-color: rgba(209, 95, 95,0.8);
    transition: 0.3s;
}

#semesterPage .cross-semester-page-container p {
    color: white;
    font-size: 2em;
    cursor: pointer;
    font-weight: bold;
}

#semesterPage .semester-page-main-container {
    margin: 20px 0;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transform: translateX(100vw);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.5;
}

#semesterPage .semester-page-main-container.visible {
    transform: none;
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}

#semesterPage .title-semester {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5vw;
    z-index: 11;
    font-size: 3.6vw;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgb(232, 190, 190);
    text-decoration-thickness: 0.3vw;
    text-decoration-style: wavy;
    text-underline-offset: 0.5vw;
}

.semester-page-title-img-container {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}

#semesterPage .semester-page-title-img-container img {
    width: 54px;
    height: fit-content;
    object-fit: cover;
    object-position: center;
}

.semester-page-title-part {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 3vw;
    font-weight: 100;
    color: rgb(232, 190, 190);
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1.3vw;
    margin-left: 25px;
}

.semester-page-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 1.5vw;
}

.semester-page-title-part img {
    width: 3vw;
    height: fit-content;
    object-fit: cover;
    object-position: center;
}

.semester-page-content {

}

.semester-part {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 1.5vw;
}