{% extends 'base.html.twig' %}

{% block title %}Collaborator index{% endblock %}

{% block body %}
    <h1>Collaborator index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collaborator in collaborators %}
            <tr>
                <td>{{ collaborator.id }}</td>
                <td>
                    <a href="{{ path('app_collaborator_show', {'id': collaborator.id}) }}">show</a>
                    <a href="{{ path('app_collaborator_edit', {'id': collaborator.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_collaborator_new') }}">Create new</a>
{% endblock %}
