.background3-dark {
    background-image: url(backgrounds/background3-black.png) !important;
}

.background2-dark {
    background-image: url(backgrounds/background2-grey.png) !important;
}

.background1-dark {
    background-image: url(backgrounds/background1-grey.png) !important;
}