.body-dark *:not(.required) {
    color: white !important;
}

.body-dark {
    background-color : rgb(46 45 45);
}

.formulaire-dark {
    background-color : rgb(0 0 0 / 80%);
    box-shadow : 0 0 23px rgb(255 255 255 / 20%);
}

.input-container-dark > input {
    background-color : rgba(71, 67, 67, 0.8) !important;
}

.input-container-dark > input:hover {
    background-color : rgba(42, 40, 40, 0.8) !important;
}

.pres-dark {
    background-color: rgba(24, 23, 23, 0.8) !important;
    box-shadow : 0 0 23px rgb(255 255 255 / 20%) !important;
}