.form-style {
    width: 400px;
    padding: 10px 20px;
  }
.form-style td {
    padding: 0;
    display: block;
    list-style: none;
  }
.form-style .required{
    color:#ff0000;
  }
.form-style input[type=submit], .form-style input[type=reset]{
    background: rgb(235, 177, 89);
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
  }
  .form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: rgb(236, 140, 84);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    color: white;
  }
  .form-style .field-textarea{
    height: 100px;
    resize: none;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
  }
  .form-style .long{
    width: 100%;
    margin: 10px auto,
  }
  
  .form-style input[type=text]:focus, 
  .form-style input[type=email]:focus,
  .form-style textarea:focus{
    box-shadow: 0 0 0 4px rgb(232, 181, 39);
  } 
  .error{
    color: white;
    background-color:#8F2D56;
  }

  td {
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
  }

  /* Centrer le formulaire */
  form {
    width: 400px;
    margin: 0 auto;
  }

  /* Style des champs du formulaire */
  input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

/*Tout centrer au milieu de la page */
#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Définition case rose avec texte */
.parent {
  width: 900px;
  height: 600px;
  margin: 10px;
}

/* On définit les couleurs de la case */
#pres {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: rgb(226, 197, 197, 0.8);
  box-shadow: 0 0 30px rgba(0,0,0,0.1); 
  border-radius: 20px;
  margin-top: 250px;
  margin-bottom: 50px;
}

/* On définit les paramètres du titre*/
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.884);
  margin: 0 auto;
  padding-top: 20px;
}

/* On définit les paramètres du texte*/
.present{
  color : white;
  font-size: 20px;
  text-align: justify;
  padding-right: 50px;
}

/* On définit les paramètres de la photo*/
#imgcontact{
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

