body {
    width: 100%;
}

.title-page {
    text-align: center;
}

.subtitle-page {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}

.main-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 6vw;
    justify-content: center;
    align-items: center;
    margin: 3vw 0 0 0;
    padding: 0 0 8vw 0;
}

.main-container>.container-index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.2);
    box-shadow: 0 0 70px #000000;
    backdrop-filter: blur(10px);
    padding: 4vw;
}

.logo-site {
    width: 7vw;
    height: auto;
    margin: 0 auto;
    display: block;
}

.form-main-page {
    margin: 0;
    margin-top: 30px;
    height: fit-content;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.form-main-page input {
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 1em;
    font-weight: 300;
    outline: none;
    border: none;
}

.form-main-page button[type="submit"] {
    margin-top: 15px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.15s;
}

.form-main-page button[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.15s;
}

.first-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.title-recents-events {
    height: fit-content;
    text-align: center;
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.title-recents-events>.logo-recent-events {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.title-recents-events>h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.main-container-recent-events {
    width: fit-content;
    height: 60vh;
    overflow-y: auto;
}

.main-container-no-games {
    height: fit-content !important;
}

.main-container-recent-events::-webkit-scrollbar {
    display: none;
}

.main-container-start-game {
    width: min-content;
    height: fit-content;
}

.all-informations-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    margin-top: 30px;
}

.game,
.no-game-container {
    width: 105%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 3px;
}

.no-game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    padding: 1vw;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 15px;
}

.surlign-text {
    color: #1e1e1e;
    font-weight: bold;
}

.game * {
    margin: 0;
    padding: 0;
}

.game p,
.no-game-container p,
.container-index-page label {
    position: relative;
    z-index: 10;
    text-shadow: 0 0 10px #000000;
    text-align: center;
}

.separator-bar,
.game,
.no-game-container {
    box-shadow: 0 0 70px #000000;
}

.game img {
    width: 3.5vw;
    height: fit-content;
    display: block;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

.text-container-players,
.text-container-winner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.separator-bar {
    width: 85%;
    margin-top: 20px;
    height: 4px;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
}

.form-main-page input,
.form-main-page button {
    box-shadow: 0 0 70px #000000;
}

.three-little-points {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;
}

.three-little-points p {
    margin: 0;
    padding: 0;
    font-size: 4vw;
    text-shadow: 0 0 15px #000000;
}

.img-date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background-color: rgba(217, 26, 26, 0.3);
    box-shadow: 0 0 70px #000000;
    border-radius: 10px;
    padding: 1vw;
}

.error-text-container p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;
    text-align: center;
    font-size: 0.9em;
}

.title-recents-events {
    text-shadow : 0 0 20px #000000;
}