/* Parametres du footer et design du footer */
footer {
    position: relative;
    bottom : 20px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    display : grid;
    width: 100vw;
    grid-template-columns: 7fr 2fr;
}

#footer1 {
    margin-left: 25px;
}

#footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.footerimgs{
    max-width: 40px;
    padding: 8px;
}
  