/* Parametres du footer et design du footer */
footer {
    position: relative;
    bottom : 20px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    display : grid;
    width: 100vw;
    height: fit-content;
    grid-template-columns: 7fr 2fr;
}

#footer1 {
    margin-left: 25px;
}

#footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

#footergithubimg, #footerlinkedinimg, #footermailimg, #footerphoneimg {
    width: 2.5vw;
    height: 2.5vw;
    max-width: 40px;
    max-height: 40px;
    padding: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  

.footer-github-img {
    background-image: url(footer-logos/github.png);
}

.footer-linkedin-img {
    background-image: url(footer-logos/linkedin.png);
}

.footer-mail-img {
    background-image: url(footer-logos/mail.png);
}

.footer-phone-img {
    background-image: url(footer-logos/phone.png);
}

.footer-github-img-dark {
    background-image: url(footer-logos/github-white.png);
}

.footer-linkedin-img-dark {
    background-image: url(footer-logos/linkedin-white.png);
}

.footer-mail-img-dark {
    background-image: url(footer-logos/mail-white.png);
}

.footer-phone-img-dark {
    background-image: url(footer-logos/phone-white.png);
}

