@media screen and (max-aspect-ratio : 3/2) and (max-width : 1024px) { 

    /* On enleve le texte peu important pour gagner de la place */ 
    #footer1 p:first-child{ 
        display: none; 
    } 

    /* On redimensionne les images */
    #footer2 > a {
        width: 20px;
        height: 20px;
    }
    @media screen and (max-height : 1100px) {
        /* On redimensionne les elements du footer */ 
        #footer1{ 
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
        } 
        #footer1 p{ 
            font-size: clamp(0.5rem, 2vw, 1rem); 
        }

        
        footer {
            height: 8vh;
        }

        #footer2 {
            margin-right: 2vw;
        }

        @media screen and (max-width : 500px) {
            #footer1 {
                margin-left: 2vw;
            }

            #footer2 > a {
                width: 3.2vw;
                height: 3.2vw;
            }

            #footer1 p {
                font-size: 12px;
            }
        }
    }
}