.main-container-game-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    min-width: fit-content;
    padding: 2vw;
    margin-bottom: 10vw;
    width: 80vw;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.2);
    box-shadow: 0 0 70px #000000;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    align-items: center;
    justify-content: center;
}

.word {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    font-size: 5vw;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 10px #f0dfdf;
}

.word * {
    margin: 0;
}


.input-letter {
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 1em;
    font-weight: 300;
    outline: none;
    border : none;
}

.submit-letter {
    margin-top: 15px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.submit-letter:hover {
    background-color: #ffffff;
    color: #000000;
}

.form-letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide-word-space {
    width: 25px;
}

.false-letters {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    font-size: 3vw;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 10px #f0dfdf;
}

.false-letters * {
    margin: 0;
    padding: 0;
}

.nb-tries-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
    font-size: 3vw;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 10px #f0dfdf;
}

.nb-tries-container * {
    margin: 0;
    padding: 0;
}

.already-tried-letter {
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 10px #f0dfdf;
    margin: 0;
    padding: 0;
}

.form-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: fit-content;
}

.img-container img {
    width: 100%;
    height: 100%;
}

