/* Parametres du titre */
.t1 p{
  margin-top: 60px;
}
/* Parametres du titre */
.title p{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.884);
}

/* Disposition du contenu */
#content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.884);
    border-top: 1px solid rgba(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0);
}

/* Deisgn de la photo */
#photopres{
    width: 300px;
    border-radius: 50%;
    margin: 60px;
    border: 10px solid rgb(231, 206, 178);
    display: flex;
}

/*Parametres du texte */
.text{
    font-family: "Helvetica Neue",Helvetica,Arial	sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.884);
    text-align: justify;
    margin : 50px;
}

/* Disposition et déco des iframes */
#frames{
    width: 100%;
    display: grid;
    /* Centrer les iframes */
    justify-items: center;

    grid-template-columns: 1fr 1fr;
    
    /* Ne pas utiliser la premiere et la derniere grille */
    grid-column-start: 1;
    grid-column-end: 2;
    row-gap: 30px;
    column-gap: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0);
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Bordure sur les iframes et taille 100%*/
#frames iframe{
    border: 3px solid rgba(0, 0, 0);
    border-radius: 20px;
    width: 100%;
}

.t2 h3{
    padding-bottom: 20px;
}