.menu-dark {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.1);
}

.menu-dark li:hover{
    border-bottom: 5px solid rgb(255, 255, 255) !important;
    transform: translateY(2.5px);
}

.menu-dark .sites > p {
    color: white;
}
